# Shell
alias ll="ls -l"
alias la="ls -a"
alias lll="la -l"
alias md='mkdir -p'
alias rd='rmdir'
alias cd..='cd ..'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias psg='ps aux | grep'
alias h='history'
alias vi='vim'
alias e='vim'

# Tmux
alias tml='tmux ls'
alias tmn='tmux new -s'
alias tma='tmux attach -t'

# Git
alias gap='git add -p'
alias ga='git add'
alias gnap='git add -N . && git add -p'
alias guap='git add $(git ls-files -o --exclude-standard) && git add -p'
alias gb='git branch'
alias gc='git commit -v'
alias gca='git commit -a -v'
alias gd='git diff --color-words'
alias gdc='git diff --cached'
alias gdh='git diff HEAD'
alias gl='git pull'
alias glod='git log --graph --pretty="%Cgreen%h%Creset%Cblue%d%Creset %Cred%an%Creset: %s"'
alias gp='git push'
alias gpr='git pull --rebase'
alias gst='git status'
alias gr='git rebase'
alias grc='git rebase --continue'
alias gri='git rebase --interactive'
alias gra='git rebase --abort'
alias gcp='git cherry-pick'
alias reset-authors='git commit --amend --reset-author -C HEAD'

# Docker
alias dc='docker-compose'
alias dcu='dc up'
alias dcp='dc ps'
alias dcg='dcp | grep'

# Ruby/Rails
alias be='bundle exec'

#ZSH
alias reload=". ~/.zshrc && echo 'ZSH config reloaded from ~/.zshrc'"

# Finder
alias showFiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'
alias hideFiles='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'

# Other
alias aliases="cat $HOME/.aliases"
